.navigation-overview{
    display: flex;
    &-left{
        width: 17.2%;
        &-head{
            padding: 0 26px 30px 0;
            &-title{
                color: #00344A;
                font-family: "Nunito Sans";
                font-size: 12px;
                font-weight: bold;
                letter-spacing: 0;
                line-height: 16px;

                border-bottom: 1px solid #DADADA;

            }
            &-content{
                padding: 10px 0;
                border-bottom: 1px solid #DADADA;
            }
            &-main{
                display: flex;
                justify-content: space-between;

                span {
                    &:first-child{
                        color: #00060A;
                        font-family: "Nunito Sans";
                        font-size: 13px;
                        letter-spacing: 0;
                        line-height: 18px;
                    }
                    &:last-child{
                        color: #163B55;
                        font-family: "Nunito Sans";
                        font-size: 13px;
                        font-weight: bold;
                        letter-spacing: 0;
                        line-height: 18px;
                    }
                }
            }
            &-benchmark{
                display: flex;
                justify-content: space-between;

                color: #537FA0;
                font-family: "Nunito Sans";
                font-size: 13px;
                letter-spacing: 0;
                line-height: 18px;
            }
        }
        @media (max-width: 1199px){
            order: 1;
            width: 100%;
        }
    }
    &-middle{
        width: 58%;
        &-graphs{
            background-color: #ffffff;
            margin-bottom: 20px;
        }
        &-title{
            padding: 20px 20px 0;
        }
        @media (max-width: 1199px){
            order: 2;
            width: 100%;
        }
    }
    &-right{
        width: 25%;
        &-title{
            padding-left: 25px;
            color: #00344A;
            font-family: "Nunito Sans";
            font-size: 24px;
            font-weight: 800;
            letter-spacing: 0;
            line-height: 32px;
        }
        &-content{
            color: #537FA0;
            font-family: "Nunito Sans";
            font-size: 14px;
            letter-spacing: 0;
            line-height: 20px;
        }
        @media (max-width: 1199px){
            order: 0;
            width: 100%;
        }
    }
    @media (max-width: 1199px){
        display: block;
    }
}