.navigation-header {
    box-shadow: inset 0 -1px 3px 0 rgba(220,222,224,0.65);
    background-color: rgba(#ffffff, 0.75);
    &.sticky {
        position: fixed;
        top: 50px;
        left: 0;
        right: 0;
        z-index: 999;
    }
}

.tab-navigation {
    background-color: #ffffff;    
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    box-shadow: inset 0 -1px 3px 0 rgba(220,222,224,0.65);

    li {
        display: flex;
        justify-content: center;
        flex: 1 0 auto;
        a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            padding: 17px 30px;
            text-decoration: none !important;
            border-right: 1px solid rgba(151, 151, 151, 0.48);
            cursor: pointer;

            .tab-title {
                color: #00344A;
                font-family: "Nunito Sans";
                font-size: 13px;
                font-weight: bold;
                letter-spacing: 0;
                line-height: 18px;
            }
            .tab-subtitle{
                opacity: 0.6;
                color: #163B55;
                font-family: "Nunito Sans";
                font-size: 13px;
                letter-spacing: 0;
                line-height: 18px;
            }
            .tab-value{
                font-size: 13px;
                letter-spacing: 0;
                line-height: 18px;
                span{
                    &:first-child{
                        color: #537FA0;
                        font-family: "Nunito Sans";
                        font-size: 13px;
                        font-weight: 800;
                        letter-spacing: 0;
                        line-height: 18px;
                    }
                    &:nth-child(even){
                        color: #537FA0;
                        font-family: "Nunito Sans";
                        font-size: 10px;
                        letter-spacing: 0;
                        line-height: 14px;
                    }
                    &:last-child{
                        opacity: 0.5;
                        color: #163B55;
                        font-family: "Nunito Sans";
                        font-size: 11px;
                        letter-spacing: 0;
                        line-height: 15px;
                    }
                }
            }
        }
        &:last-child {
            a {
                border-right: 0;
            }
        }
        &.active {
            border-radius: 1px 1px 0 0;
            background-color: #00344A;
            box-shadow: 0 -1px 6px 1px rgba(0,52,74,0.49);
            padding: 0;

            a {
                .tab-title, .tab-subtitle{
                    color: #ffffff;
                }
                .tab-value{
                    span{
                        &:first-child{
                            color: #ffffff;
                        }
                        &:nth-child(even){
                            color: #ffffff;
                        }
                        &:last-child{
                            color: #ffffff;
                        }
                    }
                }
            }
        }
        @media (max-width: 1199px){
            flex: 1 0 12.5%;
            max-width: 12.5%;
        }
        @media (max-width: 991px){
            flex: 1 0 25%;
            max-width: 25%;
        }
        @media (max-width: 768px){
            flex: 1 0 50%;
            max-width: 50%;
        }
    }    
}

.navigation-content{
    background-color: #f5f5f5;
    display: flex;
    padding-top: 15px;
    @media (max-width: 1199px){
        display: block;
    }
}
